## General
build/
__pycache__/

# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Editor temporaries
cscope.*
*.swp
*~

# Generated documentation
docs/_site
docs/gathered
_site
doxygen
docs/dev


